<div class="dragons-card-container card">
  <div class="text-center dragons-card-icon-container col-lg-12 col-md-12 col-sm-12">
    <img class="card-img-top col-lg-6 col-md-6 col-sm-6" src="../../../assets/dragao.png"></div>
  <div class="card-body">
    <p class="dragons-card-label text-center">{{dragon?.type | uppercase }}</p>
    <div class="mx-auto dragons-card-separator-container col-lg-8 col-md-8 col-sm-12">
      <div class="separator mx-auto"></div>
    </div>
    <div class="text-center col-lg-12 col-md-12 col-sm-12">
      <div class="dragons-card-title card-title h5">{{dragon?.name | uppercase}}</div>
    </div>
    <div class="row">
      <div class="col text-right pr-2">
        <a [routerLink]="['/edit',dragon?.id]" class="dragon-button edit">
          <fa-icon [icon]="faEdit">
          </fa-icon>
        </a>
      </div>
      <div class="col text-left pl-2">
        <a [routerLink]="['/remove',dragon?.id]" class="dragon-button trash" routerLinkActive="active">
          <fa-icon [icon]="faTrash">
          </fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
