@import "../../../variables.scss";

.container-list{
  background-color: black;
}
.dragons-card-title {
  color: #ffffff;
  font-family: "Nunito", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 1.5em;
}

.dragons-card-separator-container {
  margin-top: 3em;
}

.dragons-card-icon-container {
  padding: 0px;
}

.dragons-card-container {
  border-top: 3px solid $second-color;
  margin-bottom: 2em;
  background-color: rgba(14, 14, 14, 0.68);
}

.dragons-card-container:hover {
  background-color: #001023;
}

.dragons-card-label {
  color: $second-color;
  font-family: "Nunito", Sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.dragons-card-separator-container {
  margin-top: 2em;
}

.separator {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: $main-color;
  width: 25%;
}

.dragon-button {
  font-size: 1em;
  color: $main-color;
}

.dragon-button:hover {
  &.edit {
    color: $second-color;
  }

  &.trash{
    color: red;
  }
}

