<div class="collapse remove-background" id="{{dragonName}}{{dragonId}}">
  <div class="card card-body">
    <div class="row">
      <p class="text-center">Você têm certeza que quer excluir permanentemente o Dragão: </p>
    </div>
    <div class="row">
      <p class="mx-auto">{{dragonName | uppercase}} </p>
    </div>
    <div class="row">
      <button class="col btn btn-secondary" (click)="deleteDragon($event,dragonId)">Sim</button>
      <button class="col btn btn-info"  data-toggle="collapse" [attr.data-target]="'#'+dragonName+dragonId">Não</button>
    </div>
  </div>
</div>
